<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>INFORMAÇÕES DO JOGO</title>
</head>
<body>
    <div class="container">
        <h1> INFORMAÇÕES DO JOGO </h1>
        
        <h2 th:text="${jogo.nomeJogo}"></h2>
        <h3 th:text="${jogo.genero}"></h3>
        <h3 th:text="${jogo.preco}"></h3>
        
        <a class="btn btn-outline-primary" href="/jogos">VOLTAR</a>
        </div>

    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>